Repository BlueBrain/nmodl, pull requests merged in 2020-05, with the labels that each got.

#318 Rename context to eq_context for compatibility with Bison v3.6.0
  .travis.yml
  src/parser/diffeq.yy
  src/parser/diffeq_driver.cpp
Labels: parser

#316 Support for building without libpython
  CMakeLists.txt
  cmake/PythonLinkHelper.cmake
  src/config/config.cpp.in
  src/config/config.h
  src/pybind/CMakeLists.txt
  src/visitors/CMakeLists.txt
Labels: enhancement, pybind11, python

#304 remove INDEPENDENT from compatibility_visitor checks (issue #303)
  src/codegen/codegen_compatibility_visitor.cpp
  src/codegen/codegen_compatibility_visitor.hpp
Labels: netpyne
