Repository BlueBrain/nmodl, pull requests merged in 2020-12, with the labels that each got.

#441 Add compare_blocks for robust sympy visitor comparisons
  .travis.yml
  azure-pipelines.yml
  setup.py
  test/unit/visitor/sympy_solver.cpp
Labels: CI, enhancement

#450 Fix issue with double constants in ISPC generated files
  README.md
  src/codegen/CMakeLists.txt
  src/codegen/codegen_c_visitor.cpp
  src/codegen/codegen_c_visitor.hpp
  src/codegen/codegen_ispc_visitor.cpp
  src/codegen/codegen_ispc_visitor.hpp
  src/codegen/codegen_utils.cpp
  src/codegen/codegen_utils.hpp
  src/printer/code_printer.hpp
  test/unit/CMakeLists.txt
  test/unit/codegen/codegen_helper.cpp
  test/unit/codegen/codegen_ispc.cpp
  test/unit/codegen/codegen_utils.cpp
  test/unit/codegen/main.cpp
Labels: codegen, netpyne, testing

#457 Initial LLVM codegen vistor routines
  .travis.yml
  CMakeLists.txt
  azure-pipelines.yml
  cmake/LLVMHelper.cmake
  setup.py
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  test/integration/mod/procedure.mod
  test/unit/CMakeLists.txt
  test/unit/codegen/llvm.cpp
Labels: llvm
