Repository BlueBrain/nmodl, pull requests merged in 2021-04, with the labels that each got.

#593 Minor benchmarking improvement
  src/codegen/llvm/llvm_benchmark.cpp
  test/unit/codegen/codegen_data_helper.cpp
  test/unit/codegen/codegen_data_helper.hpp
Labels: llvm

#603 LLVM 13 compatibility and fixing void* type
  cmake/LLVMHelper.cmake
  src/codegen/llvm/codegen_llvm_visitor.cpp
Labels: llvm

#599 Allow LOCAL variable inside StatementBlock for LLVM IR generation
  src/codegen/llvm/codegen_llvm_helper_visitor.cpp
  src/codegen/llvm/codegen_llvm_helper_visitor.hpp
Labels: codegen, llvm

#604 Integrating vector maths library into LLVM codegen
  CMakeLists.txt
  cmake/LLVMHelper.cmake
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/nmodl/main.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#620 Refactoring of runners' infrastructure and dumping object files
  src/codegen/llvm/jit_driver.cpp
  src/codegen/llvm/jit_driver.hpp
  src/codegen/llvm/llvm_benchmark.cpp
  src/codegen/llvm/main.cpp
  test/unit/codegen/codegen_llvm_execution.cpp
Labels: enhancement, llvm
