Repository BlueBrain/nmodl, pull requests merged in 2021-05, with the labels that each got.

#623 Optimisation levels for benchmarking
  cmake/LLVMHelper.cmake
  src/codegen/llvm/jit_driver.cpp
  src/codegen/llvm/jit_driver.hpp
  src/codegen/llvm/llvm_benchmark.cpp
  src/codegen/llvm/llvm_benchmark.hpp
  src/nmodl/main.cpp
Labels: llvm

#628 Adding function debug information
  CMakeLists.txt
  ci/bb5-pr
  cmake/LLVMHelper.cmake
  src/codegen/llvm/CMakeLists.txt
  src/codegen/llvm/codegen_llvm_helper_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/jit_driver.cpp
  src/codegen/llvm/jit_driver.hpp
  src/codegen/llvm/llvm_benchmark.cpp
  src/codegen/llvm/llvm_debug_builder.cpp
  src/codegen/llvm/llvm_debug_builder.hpp
  src/nmodl/main.cpp
Labels: llvm

#631 Fixed using benchmarking_info in TestRunner
  src/codegen/llvm/jit_driver.cpp
Labels: bug, llvm

#634 IR builder redesign for LLVM IR code generation pipeline
  src/codegen/llvm/CMakeLists.txt
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.cpp
  src/codegen/llvm/llvm_ir_builder.hpp
Labels: enhancement, llvm

#642 Fixed initialisation of `CodegenAtomicStatement`
  src/codegen/llvm/codegen_llvm_helper_visitor.cpp
Labels: llvm

#643 Basic scatter support
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.cpp
  test/unit/codegen/codegen_llvm_execution.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#647 Benchmarking code re-organisation and minor improvements
  CMakeLists.txt
  src/CMakeLists.txt
  src/codegen/llvm/CMakeLists.txt
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/main.cpp
  src/main.cpp
  test/benchmark/CMakeLists.txt
  test/benchmark/jit_driver.cpp
  test/benchmark/jit_driver.hpp
  test/benchmark/llvm_benchmark.cpp
  test/benchmark/llvm_benchmark.hpp
  test/unit/CMakeLists.txt
  test/unit/codegen/codegen_llvm_execution.cpp
Labels: llvm

#648 Added attributes and metadata to LLVM IR compute kernels
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.cpp
  src/codegen/llvm/llvm_ir_builder.hpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#655 Added loaded value to the stack
  src/codegen/llvm/llvm_ir_builder.cpp
Labels: llvm

#652 Predication support for LLVM backend
  src/codegen/llvm/codegen_llvm_helper_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.cpp
  src/codegen/llvm/llvm_ir_builder.hpp
  test/unit/codegen/codegen_llvm_execution.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#661 Improvements for LLVM code generation and benchmarking
  CMakeLists.txt
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.cpp
  test/benchmark/llvm_benchmark.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#663 Fixed `alloca`s insertion point for LLVM backend
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/llvm_ir_builder.cpp
  src/codegen/llvm/llvm_ir_builder.hpp
Labels: llvm

#662 Fast math flags for LLVM backend
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/codegen/llvm/llvm_ir_builder.hpp
  src/main.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm

#674 [LLVM] SLEEF and libsystem_m vector libraries support
  azure-pipelines.yml
  ci/bb5-pr.sh
  src/codegen/llvm/codegen_llvm_visitor.cpp
  src/codegen/llvm/codegen_llvm_visitor.hpp
  src/main.cpp
  test/unit/codegen/codegen_llvm_ir.cpp
Labels: llvm
